.sidenav-wrapper{
  height: 100vh;
  width: 200px;
  background: linear-gradient(-45deg,white,black);  z-index: 10;
  transition: all 0.3s linear;
  position: absolute;
  left: -200px;
  top: 7%;
  z-index: 10;
  ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 400px;
    li{
      margin-top: 10px;
      height: 30px;
      width: 100px;
      a{
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg,white,black);
        padding: 7px 15px;
        margin-bottom: 5px;
        border-radius: 10px;
        margin-top: 10px;
        text-align: center;
        color: #fff;
        cursor: pointer;
      }
      a:hover{
        box-shadow: 0 0 10px 5px #fff;
      }
    }

  }
}
.show-side-nav{
  left: 0%;
}

.profile-wrapper{
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: rgb(49, 121, 203)
}
.profile-wrapper::before{
  content: "";
  height: 200%;
  width: 200%;
  background: rgb(70, 70, 179);
  transform: rotate(145deg);
  right: 40%;
  position: relative;
  top: 30%;
}
.profile-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon-wrapper{
    height: 80px;
    width: 80px;
    .profile-img{
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }
  p{
    color: #fff;
  }
}

.router-link-active{
  background: black !important;
}
