.homewrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
app-sidenav{

}
app-header{
  width: 100%;
}
.main{
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

